@font-face {
    font-family:Pretendo;
    src:url(../fonts/Pretendo.ttf);
}

@font-face {
    font-family:HyliaSerif;
    src:url(../fonts/HyliaSerif.otf);
}

@font-face {
    font-family:Triforce;
    src:url(../fonts/Triforce.ttf);
}

@font-face {
    font-family:Ravenna;
    src:url(../fonts/Ravenna.ttf);
}

body {
    margin:0;
    text-align:center;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

body::after {
    content:"";
    background-image:url(../images/breath-of-the-wild-bg2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    opacity:0.5;
    position:fixed;
    z-index:-1;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.start-screen-content {
    position:fixed;
    transform:translateX(-50%) translateY(-65%);
    width:100%;
    top:50%;
    left:50%;
}

.title {
    font-family:Triforce, fantasy;
    font-weight:500;
    margin:0;
}

.title-img {
    width:450px;
    user-select:none;
}

h1 {
    font-size:100px;
}

h2.title {
    font-family:Pretendo, sans-serif;
    font-size:40px;
    pointer-events:none;
    user-select: none;
}

h3 {
    font-family:Pretendo, sans-serif;
    margin:0;
}

button {
    cursor:pointer;
}

button:focus {
    outline:none;
}

#start-screen ul {
    list-style: none;
    position:relative;
    top:150px;
}

#start-screen li {
    position:relative;
    display:inline-block;
}

#start-screen button {
    font-family:Ravenna,serif;
    font-size:35px;
    font-weight:500;
    padding:5px;
    margin:5px;
    width:300px;
    height:70px;
    border-radius:50%;
    border:0;
    opacity:0.9;
    z-index:12;
    background:linear-gradient(135deg, rgba(252,243,186,1) 0%, rgba(252,232,79,1) 36%, rgba(245,204,0,1) 75%, rgba(251,239,147,1) 100%);
}

#start-screen button:hover {
    background-image:linear-gradient(135deg, green 0%, lightgreen 20%, forestgreen 75%,darkgreen 100%);
    color:ivory;
}

.menu-image {
    pointer-events: none;
    height:105px;
    position:absolute;
    z-index:123;
    opacity:0;
}

.menu-image#start-image {
    height:130px;
    top:-30px;
    left:0px;
}

.menu-image#load-image {
    height:108px;
    top:-20px;
    right:25px;
}

.menu-image#options-image {
    top:-50px;
    left:10px;
}

#start-screen button:hover .menu-image {
    opacity:1;
}

.modal-background {
    top:0;
    right:0;
    left:0;
    bottom:0;
    position:fixed;
    background-color:rgba(0,0,0,0.5);
    z-index:1234;
}

.modal {
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    border:1px solid black;
    border-radius:20px;
    background-image:linear-gradient(135deg, green 0%, lightgreen 20%, forestgreen 75%,darkgreen 100%);
    padding:30px;
    box-shadow:10px 10px 10px rgba(0,0,0,0.5);
}

.modal h2 {
    font-family:Triforce,fantasy;
    font-weight:100;
    font-size:40px;
}

#options-modal {

}

#top-menu {
    height:50px;
    border:1px solid gold;
}

#game-board {
    display:flex;
    width: 650px;
    margin:auto;
    flex-wrap:wrap;
    perspective:1200px;
    -webkit-perspective:1200px;
}

.card {
    box-sizing:border-box;
    position:relative;
    height:170px;
    width:140px;
    margin:10px;
    border-radius:10px;
    border:1px solid black;
    transform-style:preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition:transform .5s;
}

.card:active {
    transform:scale(0.97);
    transition:transform .1s;
}

.back, .front {
    height:calc(100% - 50px);
    width:calc(100% - 30px);
    padding:25px 15px;
    border-radius:10px;
    border:1px solid black;
    position:absolute;
    top:50%;
    left:50%;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    transition:transform .5s;
    overflow:hidden;
}

.back {
    transform:translateX(-50%) translateY(-50%);
    background-image:linear-gradient(to bottom right, lightgreen 0%,forestgreen 30%,green 50%,lightgreen 80%,darkgreen 100%);
}

.front {
    transform:translateX(-50%) translateY(-50%) rotateY(180deg);
    -webkit-transform:translateX(-50%) translateY(-50%) rotateY(180deg);
    background-image:linear-gradient(to bottom right, violet 0%, purple 30%, indigo 50%, violet 80%, indigo 100%);
    /* padding:100px; */
}

.card.flipped {
    transform:rotateY(180deg);
}